.redtext {
    color:#d32121;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:50px;
}

.blutext {
    color:#2159d3; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size:25px;
}
.frame{
    width: 220px;
    height: 220px;
    border: 3px solid rgb(9, 255, 0);
    background: rgb(0, 0, 0);
    margin: auto;
    padding: 0px 0px;
}
table {
    border: 1px solid;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
tr:hover {background-color: coral;}
tr:nth-child(even) {background-color: #f2f2f2;}
html {    
    background: url("german-company-refurbishes-nissan-r34-skyline-gt-r-with-up-to-790-hp-148625_1.jpg") no-repeat center fixed;     
    background-size: cover;
}
.piltvasakul {
    
}